<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home-Page</title>
  <style>
    body{
      margin-top: 80px;
    }
    .container {
      width: 40%;
      height: 30%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #abae89;
    }

    .google-login {
      margin-top: 20px;
      text-align: center;
    }

    button {
      padding: 10px 20px;
      background-color: #abae89;
      color: #000000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #dfcecc;
    }

    a {
      text-decoration: none;
      color: #4809f6;
    }
  </style>
</head>

<body>
  <div>
    <h1 class="container">Welcome to Authentication System</h1>
  </div>
  <div class="google-login">
    <button type="submit"><a href="/login">Log Out</a></button>
  </div>
</body>

</html>
