<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <style>
    body{
      margin-top: 80px;
    }
    .container {
      width: 40%;
      height: 30%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
      background-color: #abae89;
    }
    input{
      width: 280px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .google-login {
      margin-top: 20px;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: #4809f6;
    }
    button {
      padding: 10px 20px;
      background-color: #2d2a6e;
      color: #f0e6e6;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #dfcecc;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 >Reset Password</h1>
    <!-- <h3><%= email %></h3> -->
    <form method="post">
      <input type="password" name="password" id="password" placeholder="Enter Password"><br>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
      <div class="google-login">
        <button type="submit"> Change</button>
      </div>
    </form>
  </div>
</body>
</html>

